/*@import "normalize.css";*/

 /*
 font-family: 'PT Serif', serif;
 font-family: 'Roboto', sans-serif;
 #2c485f темно-синий
 #330033 темно-бордовый
 #339999 бирюзовый
 #f5f5f6 светло-серый
 #ffff66 желтый
 */

* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1280px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #2c485f;
}

.section-outer {
  /*background-color: darkgrey;*/
}

.section-inner {
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 145px;
  /*background-color: lightgray;*/
}

.h1-title {
  font-size: 34px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color:#330033;
  margin-bottom: 100px;
}

.h2-title {
  font-size: 18px;
  font-weight: 400;
}

.delimiter {
  background-color: #330033;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
}

/* --------------- Contacts ---------------*/

.section-contacts {
  font-weight: 300;
  color: #f5f5f6;
  background-color: #2c485f;
}

.section-contacts .section-inner {
  padding: 0;
}

.head {
  padding: 1rem;
  padding-left: 40px;
  /*background-color: cadetblue;*/
  background-repeat: no-repeat;
  background-size: 20px auto;
  background-position: 0 50%;
}

.contacts-head {
  display: flex;
  justify-content: space-around;
}

.head-time {
  background-image: url("../IMG/icon-w-time.png");
}

.head-email {
  background-image: url("../IMG/icon-w-email.png");
}
.head-phone {
  background-image: url("../IMG/icon-w-phone.png");
}

/* --------------- /Contacts --------------- */


/* --------------- Header --------------- */

.section-header {
  min-height: 800px;
  /*min-width: 1280px;*/
  height: 100vh;
  background: url("../IMG/background-main.png") no-repeat 50% 50%;
  background-size: cover;
}

.section-header-main {
  margin-bottom: 140px;
}

.section-header-main::after {
  display: table;
  clear: both;
  content: "";
}

.section-header-main-logo {
  position: relative;
  float: left;
  padding-top: 20px;
  width: 310px;
  height: 100px;
}

.section-header-main-logo img {
  display: inline-block;
  margin-right: 15px;
}

.section-header-main-logo-title {
  position: absolute;
  display: inline-block;
  bottom: 30px;
  padding-left: 10px;
  border-left: 1px solid #2c485f;
}

.logo-title-1 {
  font-size: 18px;
  line-height: 30px;
}

.logo-title-2 {
  font-size: 12px;
}

.section-header-main-menu {
  float: right;
  width: 765px;
  padding-top: 60px;
}

.section-header-main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-header-main-menu li {
  display: inline-block;
  width: 140px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
}

.section-header-main-menu li:not(:first-child) {
  margin-left: -4px;
}

.section-header-main-menu li:not(:last-child) {
  border-right: 1px solid #2c485f;
}

.section-header-main-menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #2c485f;
}

.section-header-main-menu a:hover {
  font-weight: 400;
  color: #330033;
}

.section-header-main-menu a:active {
  font-weight: 700;
  color: #330033;
}

.section-header-promo {
  width: 950px;
  margin-bottom: 100px;
  font-size: 48px;
  font-family: 'PT Serif', serif;
  color: #330033;
}

.section-header-button {
  position: relative;
  width: 640px;
  height: 100px;
  margin-left: 155px;
}

.section-header-button::after {
  display: table;
  clear: both;
  content: "";
}

.section-header-button-1 {
  float: left;
  width: 226px;
}

.section-header-button-2 {
  float: right;
  width: 170px;
  margin-left: 330px;
}

.button {
  border: 2px solid #339999;
  border-radius: 5px;
}

a.button {
  position: absolute;
  padding: 20px 40px;
  font-size: 18px;
  text-decoration: none;
  color: #2c485f;
}

a.section-header-button-2 {
  padding-right: 68px;
  padding-left: 68px;
}

a.button:hover {
  border: 3px solid #339999;
  color: #330033;
}

a.button:active {
  background-color: #339999;
  border: none;
}

/* --------------- /Header --------------- */


/* --------------- Company --------------- */


.section-company {
  /*background-color: brown;*/
  padding-top: 50px;
  min-width: 1280px;
}

.section-company-inner {
  padding-bottom: 150px;
}

.section-company-main,
.section-company-worker {
  /*background-color: blanchedalmond;*/
  width: 950px;
}

.section-company-main {
  margin-bottom: 100px;
}

.section-company-main::after,
.section-company-worker::after {
  display: block;
  clear: both;
  content: "";
}

.section-company-text {
  /*background-color: #ffff66;*/
  float: left;
  width: 400px;
}

.section-company-photo {
  /*background-color: blanchedalmond;*/
  float: right;
  width: 330px;
  margin-right: 50px;
}

.photo {
  display: inline-block;
  position: relative;
  width: 140px;
  height: 140px;
  margin-left: -4px;
  margin-right: 20px;
  border-radius: 5px;
}

.photo-hover {
  position: absolute;
  width: 125px;
  height: 22px;
  background-color: #ffff66;
  border-radius: 0 0 5px 5px;
  padding-top: 8px;
  padding-left: 15px;
  font-size: 12px;
  color: #330033;
  bottom: 0;
}

.photo-1 {
  /*background-color: white;*/
  margin-bottom: 20px;
  background-image:url("../IMG/foto-1.png");
}

.photo-2 {
  background-image: url("../IMG/big-foto-2.jpg");
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: 55% 30%;
}

.photo-3 {
  /*background-color: white;*/
  background-image:url("../IMG/foto-3.png");
}

.photo-4 {
  /*background-color: white;*/
  background-image:url("../IMG/foto-4.png");
}

div.photo-1 div.photo-1-hover,
div.photo-2 div.photo-2-hover,
div.photo-3 div.photo-3-hover,
div.photo-4 div.photo-4-hover {
  display: none;
}
div.photo-1:hover div.photo-1-hover,
div.photo-2:hover div.photo-2-hover,
div.photo-3:hover div.photo-3-hover,
div.photo-4:hover div.photo-4-hover {
  display: block;
}

.big-photo-1 {
  background-color: cornsilk;
  float: left;
  display: inline-block;
  width: 240px;
  height: 280px;
  margin: 40px;
  background-image: url("../IMG/big-foto-2.jpg");
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: 50% 50%;
}

.worker-text {
  font-size: 14px;
  font-weight: 300;
  color: #330033;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  border: 2px solid #339999;
  border-radius: 5px;
}

.worker-name {
  font-size: 18px;
  font-weight: 400;
  color: #330033;
  padding-top: 40px;
}

/* --------------- /Company --------------- */



/* --------------- Services --------------- */

.section-services {
  padding-top: 50px;
  padding-bottom: 150px;
  background-color: #f5f5f6;
}

.section-services-main {
  position: relative;
  width: 950px;
  /*background-color: indianred;*/
}

.grid-main{
  display: grid;
  grid-template-rows: repeat(4, 100px);
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  /*background-color: burlywood;*/
}

.grid-main-cell {
  display: flex;
  /*background-color: darkcyan;*/
  border: 2px solid #339999;
  border-radius: 5px;
}

.cell {
  position: relative;
  padding: 20px;
  /*background-color: lightgray;*/
  flex-grow: 1;
}

.cell-icon {
  position: absolute;
  display: inline-block;
  height: 60px;
  width: 60px;
  background-color: #ffff66;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: 36px auto;
  background-position: 50% 50%;
}

.icon-1 {
  background-image: url("../IMG/icon-money.png");
}
.icon-2 {
  background-image: url("../IMG/icon-protection.png");
}
.icon-3 {
  background-image: url("../IMG/icon-job.png");
}
.icon-4 {
  background-image: url("../IMG/icon-family.png");
}
.icon-5 {
  background-image: url("../IMG/icon-home.png");
}
.icon-6 {
  background-image: url("../IMG/icon-bag.png");
}
.icon-7 {
  background-image: url("../IMG/icon-page.png");
}
.icon-8 {
  background-image: url("../IMG/icon-question.png");
}

.cell-title {
  position: absolute;
  padding-left: 80px;
  top: 50%;
  font-size: 18px;
  font-weight: 400;
  color: #330033;
  transform: translate(0, -50%);
}

.grid-main-cell:hover {
  border: 3px solid #339999;
  background-image: url("../IMG/next2.png");
  background-repeat: no-repeat;
  background-size: 12px auto;
  background-position: 400px 50%;
}

.grid-main-cell:hover .cell-icon {
  background-color: rgba(0,0,0,0);
}

.grid-main-cell:active {
  border: none;
  background-color: rgba(51,153,153,0.5);
}

.cell-text {
    display: none;
    position: absolute;
    min-height: 460px;
    background-color: rgba(51,153,153,1);
    color: white;
    font-weight: 300;
    border-radius: 5px;
    padding: 40px;
    top: 140px;
    left: 0;
    z-index: 10;
}

.fake-check {
  display: none;
}

.fake-check:checked + .cell-text {
  display: block;
}

.cell-text-title {
  padding: 20px;
  padding-left: 80px;
  margin-bottom: 20px;
  float: left;
  color: white;
  font-size: 18px;
  font-weight: 400;
  background-repeat: no-repeat;
  background-size: 36px auto;
  background-position: 0 50%;
}

.cell-text-title-1 {
  background-image: url("../IMG/icon-w-money.png");
}
.cell-text-title-2 {
  background-image: url("../IMG/icon-w-protection.png");
}
.cell-text-title-3 {
  background-image: url("../IMG/icon-w-job.png");
}
.cell-text-title-4 {
  background-image: url("../IMG/icon-w-family.png");
}
.cell-text-title-5 {
  background-image: url("../IMG/icon-w-home.png");
}
.cell-text-title-6 {
  background-image: url("../IMG/icon-w-bag.png");
}
.cell-text-title-7 {
  background-image: url("../IMG/icon-w-page.png");
}
.cell-text-title-8 {
  background-image: url("../IMG/icon-w-question.png");
}

.close {
  display: inline-block;
  width: 100px;
  height: 60px;
  float: right;
  background-image: url("../IMG/icon-close.png");
  background-repeat: no-repeat;
  background-size: 36px auto;
  background-position: 100% 0;
}

.close:hover {
  background-color: #330033;
}

.cell-text-paragraph::before {
  display: block;
  clear: both;
  content: "";
}

.cell-text-paragraph {
  min-height: 365px;
  margin-bottom: 40px;
  padding-left: 20px;
}

.paragraph {
  list-style-type: none;
  list-style-position: inside;
  line-height: 2;
}

.cell-text-paragraph li::before {
  padding-right: 10px;
  content: "—";
}

.btn {
  float: right;
  background-color: #ffff66;
  text-transform: uppercase;
  padding: 15px 40px;
  color: #2c485f;
}

/* --------------- /Services --------------- */

/* --------------- Feedback --------------- */

.section-feedback {
  padding-top: 50px;
  padding-bottom: 150px;
  background-color: #f5f5f6;
}

.section-feedback-main {
  position: relative;
  width: 950px;
  /*background-color: indianred;*/
}

.section-feedback-main .h2-title {
  margin-bottom: 80px;
}

.feedback-grid {
  display: grid;
  /*grid-template-rows: repeat(5, 60px);*/
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 30px;
  /*background-color: burlywood;*/
  grid-template-areas: "a a e e"
                       "b b e e"
                       "c c e e"
                       "d d f f"
                       "g g g g";
}

.grid-item {
  display: flex;
  /*background-color: lightgray;*/
  /*padding: 1em;*/
  /*border: 2px solid #f5f5f6;*/
}
.grid-item:nth-child(1) {
  grid-area: a;
}
.grid-item:nth-child(2) {
  grid-area: b;
}
.grid-item:nth-child(3) {
  grid-area: c;
}
.grid-item:nth-child(4) {
  grid-area: d;
}
.grid-item:nth-child(5) {
  grid-area: e;
}
.grid-item:nth-child(6) {
  grid-area: f;
}
.grid-item:nth-child(7) {
  grid-area: g;
}

.item {
  position: relative;
  /*padding: 10px;*/
  flex-grow: 1;
  display: flex;
  align-items: center;
}



.fullname,
.email,
.phone {
  display: inline-block;
  width: 25%;
}

.field {
  padding: 10px;
  width: 75%;
  border-radius: 5px;
  border: 2px solid #339999;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
}

.reporter-type {
  width: 50%;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.radio {
  display: none;
}

.fake {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #339999;
  border-radius: 20px;
  top: 50%;
  transform: translate(0, -50%);
  /*background-color: #ffff66;*/
}

.fake::before {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background-color: #339999;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.radio:checked + .fake::before {
  opacity: 1;
}

.radio-text {
  /*background-color: burlywood;*/
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding-left: 30px;
}

.item-message {
  display: block;
}

.message {
  /*background-color: burlywood;*/
}

.message-text {
  display: inline-block;
  padding-bottom: 20px;
}

.field-message {
  /*background-color: indianred;*/
  display: inline-block;
  width: 100%;
  min-height: 100px;
  resize: none;
}

.consent {
  width: 100%;
  position: relative;
}

.check {
  display: none;
}

.check-text {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding-left: 30px;
}

.fake-checkbox {
  border-radius: 0;
}

.fake-checkbox::before {
  border-radius: 0;
}

.check:checked + .fake-checkbox::before {
  opacity: 1;
}

.item-btn {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.field-btn {
  padding: 0;
  margin: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /*cursor: pointer;*/
  outline: none;
}

.btn2 {
  display: inline;
  background-color: #339999;
  text-transform: uppercase;
  padding: 15px 40px;
  color: #2c485f;
  border-radius: 5px;
}

.btn2:hover {
  color: #f5f5f6;
}

/* --------------- /Feedback --------------- */



/* --------------- Footer --------------- */

.section-footer-main {
  background-color: #2c485f;
  padding: 40px;
  background-image: url("../IMG/Logo-blue.png");
  background-repeat: no-repeat;
  background-size: 400px auto;
  background-position: 0 50%;
}

.footer-wrapper {
  margin: 0 auto;
  padding-left: 200px;
  display: grid;
  max-width: 600px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px 60px;
  /*background-color: burlywood;*/
  grid-template-areas: "a c"
                       "a d"
                       "b e";
}

.footer-item:nth-child(1) {
  grid-area: a;
}
.footer-item:nth-child(2) {
  grid-area: b;
}
.footer-item:nth-child(3) {
  grid-area: c;
}
.footer-item:nth-child(4) {
  grid-area: d;
}
.footer-item:nth-child(5) {
  grid-area: e;
}

.footer-item {
  display: flex;
  /*background-color: black;*/
}

.footer {
  padding: 10px 0;
  color: white;
  background-repeat: no-repeat;
  background-size: 20px auto;
  background-position: 0 50%;
}

.icon-city {
  padding-left: 40px;
  background-image: url("../IMG/icon-w-location.png");
}

.icon-phone {
  padding-left: 40px;
  background-image: url("../IMG/icon-w-phone.png");
}

.icon-email {
  padding-left: 40px;
  background-image: url("../IMG/icon-w-email.png");
}

.icon-time {
  padding-left: 40px;
  background-image: url("../IMG/icon-w-time.png");
}

/* --------------- /Footer --------------- */


@media (max-width: 767px) {


  .fullname,
  .email,
  .phone {
    display: none;
  }

  .field {
    width: 100%;
  }

  .feedback-grid {
    width: 80%;
    grid-gap: 1rem 0;
    grid-template-areas:
      "a a"
      "b b"
      "c c"
      "d d"
      "e e"
      "f f"
      "g g";
  }

  .section-footer-main {
    background-image: none;
  }

  .footer-wrapper {
    width: 80%;
    padding-left: 0;
    grid-template-areas: "a c"
                         "a d"
                         "b e";
  }

}

@media (max-width: 479px) {

  .feedback-grid {
    width: 100%;
  }
}

