@import 'variables';

html {
  font-size: 10px;

  ::-webkit-scrollbar {
    width: 0;
  }
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $blue;
  @media (max-width: $r_tab) {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  color: $white;
}

p {
  margin: 0;
}

.title {
  margin: 10rem 0;
  padding: 0 4rem;
  font-size: 3.4rem;
  color: $purple;
  @media (max-width: $r_desk) {
    margin: 5rem 0;
  }
  @media (max-width: $r_tab) {
    font-size: 3rem;
  }
  @media (max-width: $r_320) {
    margin: 4rem 0;
    font-size: 2.8rem;
    padding: 1rem;
  }
}

.section:after {
  display: block;
  position: absolute;
  bottom: -13rem;
  left: 50rem;
  clear: both;
  content: "";
  width: 30rem;
  height: 10rem;
  background-image: url("../images/delimiter.png");
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(6deg);
  z-index: 100;
  @media (max-width: 1440px) {
    left: 0;
  }
  @media (max-width: $r_desk_hd) {
    left: -15rem;
  }
  @media (max-width: $r_320) {
    left: -15rem;
  }
}

.main {
  position: relative;
  min-height: 100vh;
  background: url("../images/main.png") no-repeat 40% 90%;
  background-size: cover;
  @media (max-width: $r_desk_hd) {
    background-position: 60% 80%;
  }
  @media (max-width: $r_desk) {
    background-size: 2000px auto;
    background-position: 45% 0;
  }
  @media (max-width: $r_tab) {
    background-position: 50% 90%;
  }
  @media (max-width: $r_600) {
    background-position: 50% 0;
  }
  @media (max-width: $r_480) {
    background-position: 53% 85%;
  }
  @media (max-width: $r_320) {
    background-position: 50% 20%;
  }
}

.info {
  padding: 1rem 6rem;
  background-color: $blue;
  color: $white;

  &__block {
    margin: 0 auto;
    max-width: $r_desk_hd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }

  &__item {
    position: relative;
    font-weight: 300;
    line-height: 2rem;
    padding-left: 4rem;
  }

  &__item:before {
    display: block;
    position: absolute;
    left: 0;
    clear: both;
    content: "";
    width: 3rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: auto 1.6rem;
    background-position: center;
  }

  &__item1:before {
    background-image: url("../images/icon-w-time.png");
  }

  &__item2:before {
    background-image: url("../images/icon-w-email.png");
  }

  &__item3:before {
    background-image: url("../images/icon-w-phone.png");
  }

  @media (max-width: $r_tab) {
    &__block {
      justify-content: space-around;
    }
    &__item1 {
      display: none;
    }
  }
  @media (max-width: $r_480) {
    &__block {
      justify-content: flex-start;
    }
    &__item2 {
      display: none;
    }
  }
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem 0;
  @media (max-width: $r_480) {
    padding: 2rem 0 0 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  padding: 0 2rem;

  &__img {
    text-align: left;
    margin-right: 2rem;
    @media (max-width: $r_480) {
      img {
        display: none;
      }
    }
  }

  &__text {
    padding-left: 1rem;
    border-left: 1px solid $blue;
  }

  &__text1 {
    display: block;
    font-size: 1.8rem;
  }

  &__text2 {
    font-size: 1.2rem;
  }
}

@media (max-width: $r_480) {
  .logo {
    padding-left: 0;
  }
}

.nav {
  margin: 0;
  display: flex;
  list-style: none;
  padding-left: 0;

  &__item {
    text-transform: uppercase;
    padding: 0 2rem;
    border-right: 1px solid $blue;
    min-width: 10rem;
    text-align: center;

    &:last-child {
      margin-right: 0;
      border-right: none;
      padding-right: 0;
    }
  }

  &__link {
    color: $blue;
    position: relative;

    &:hover {
      color: $purple;
      transition: 3s;

      &:before {
        display: block;
      }
    }

    &:active {
      &:before {
        display: block;
      }
    }

    &:before {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      clear: both;
      content: "";
      width: 14rem;
      height: 4rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url("../images/activeNav.png");
    }
  }

}

.burger {
  display: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 6px;
  margin-right: 2rem;

  &__item {
    display: block;
    width: 100%;
    height: 2px;
    margin-bottom: 10px;
    background-color: $blue;
    border-radius: 20px;
    transition: all .2s linear;
  }

}

@media (max-width: 1080px) {
  .nav {
    display: none;
  }
  .burger {
    display: block;
  }
}

.promo {
  margin: 0 auto;
  text-align: left;
  max-width: $r_desk_hd;

  &__title {
    margin: 10rem 0;
    padding: 0 4rem;
    font-size: 4.8rem;
    font-family: 'PT Serif', serif;
    color: $purple;
  }

  &__btns {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding-bottom: 4rem;
  }

  &__btn {
    border: 1px solid $green;
    font-size: 1.8rem;
    padding: 2rem 4rem;
    max-width: 250px;
    border-radius: .5rem;
    margin: 0 1rem;
    color: $purple;

    &:hover {
      transition: .5s linear;
      background-color: $green;
      color: $white;
    }
  }

  @media (max-width: $r_desk_hd) {

  }
  @media (max-width: $r_desk) {
    &__title {
      font-size: 4rem;
      margin: 5rem 0;
    }
    &__btn {
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }
  }
  @media (max-width: $r_tab) {
    &__title {
      font-size: 3rem;
    }
    &__btns {
      flex-direction: column;
      align-items: center;
    }
  }
  @media (max-width: $r_600) {
    &__title {
      //font-size: 3rem;
      margin: 4rem 0;
      padding: 0 2rem;
    }
  }
  @media (max-width: $r_480) {
    &__title {
      //font-size: 3rem;
      padding: 0 4rem;
    }
    &__btns {
      flex-direction: column;
      align-items: center;
    }
  }
  @media (max-width: $r_320) {
    &__title {
      font-size: 2.8rem;
      margin: 4rem 0;
      padding: 0 1rem;
    }
  }
}


.company {
  position: relative;
  background-color: $white;

  &__main {
    padding: 10rem 0 10rem 0;
    max-width: 1240px;
    margin: 0 auto;
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 5rem;
    padding: 0 4rem;
    @media (max-width: $r_tab) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
    }
  }

  &__text {
    max-width: 400px;
    margin: 0;
    padding-left: 4rem;
    font-weight: 400;
    @media (max-width: $r_desk) {
      padding-left: 0;
    }
    @media (max-width: $r_tab) {
      max-width: 100%;
      margin-bottom: 0;
    }
  }

  &__text1 {
    margin-bottom: 2rem;
  }

  &__text2 {
    margin-bottom: 5rem;
  }

  &__employees {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: repeat(2, 140px);
    grid-gap: 2rem;
    padding-right: 10rem;
    @media (max-width: $r_desk) {
      padding-right: 0;
    }
    @media (max-width: $r_tab) {
      grid-template-columns: 600px;
      grid-template-rows: repeat(4, auto);
    }
  }

  &__employee {
    position: relative;
    border-radius: 0.5rem;
    background-color: lightgrey;
    @media (max-width: $r_tab) {
      width: 140px;
      height: 140px;
    }
    &:after {
      clear: both;
      content: "Подробнее";
      display: block;
      opacity: 0;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      box-sizing: border-box;
      padding: 1rem;
      border-radius: 0 0 0.5rem 0.5rem;
      background-color: $yellow;
      background-image: url("../images/icon-next-down.png");
      background-repeat: no-repeat;
      background-position: 90% 50%;
      color: $purple;
      transition: 0.8s;
    }
    &:hover {
      cursor: pointer;
      &:after {
        opacity: 1;
      }
    }
  }

  .employee__photo1 {
    background-image: url("../images/employee_1.jpg");
    background-repeat: no-repeat;
    background-size: 250px auto;
    background-position: 60% 35%;
  }

  .employee__photo2 {
    background-image: url("../images/employee_2.jpg");
    background-repeat: no-repeat;
    background-size: 600px auto;
    background-position: 65% 30%;
  }

  .employee__photo3 {
    background-image: url("../images/employee_3.jpg");
    background-repeat: no-repeat;
    background-size: 280px auto;
    background-position: 80% 30%;
  }

  .employee__photo4 {
    background-image: url("../images/employee_4.jpg");
    background-repeat: no-repeat;
    background-size: 650px auto;
    background-position: 15% 35%;
  }
}

.employee {
  display: flex;
  justify-content: center;
  color:$purple;
  font-weight: 300;
  padding: 0 4rem;
  @media (max-width: $r_tab) {
    display: none;
  }
  &__wrap {
    width: 100%;
    border: $green 1px solid;
    border-radius: .5rem;
    padding: 4rem 4rem 0 4rem;
  }
  &__photo {
    width: 240px;
    height: 280px;
    float: left;
    background-color: $white;
    border-radius: .5rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
  }
  &__text {
    margin-bottom: 4rem;
  }
  &__fullname {
    margin: 0;
    font-weight: 400;
  }
}
.hidden {
  display: none;
}


