@import 'variables';

html {
  font-size: 10px;

  ::-webkit-scrollbar {
    width: 0;
  }
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $blue;
  @media (max-width: $r_tab) {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  color: $white;
}

p {
  margin: 0;
}

.title {
  margin: 10rem 0;
  padding: 0 4rem;
  font-size: 3.4rem;
  color: $purple;
  @media (max-width: $r_desk) {
    margin: 5rem 0;
  }
  @media (max-width: $r_tab) {
    font-size: 3rem;
  }
  @media (max-width: $r_320) {
    margin: 4rem 0;
    font-size: 2.8rem;
    padding: 1rem;
  }
}

.section:after {
  display: block;
  position: absolute;
  bottom: -13rem;
  left: 50rem;
  clear: both;
  content: "";
  width: 30rem;
  height: 10rem;
  background-image: url("../images/delimiter.png");
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(6deg);
  z-index: 100;
  @media (max-width: 1440px) {
    left: 0;
  }
  @media (max-width: $r_desk_hd) {
    left: -15rem;
  }
  @media (max-width: $r_320) {
    left: -15rem;
  }
}


// -- section main --

.main {
  position: relative;
  min-height: 100vh;
  background: url("../images/main.png") no-repeat 40% 90%;
  background-size: cover;
  @media (max-width: $r_desk_hd) {
    background-position: 60% 80%;
  }
  @media (max-width: $r_desk) {
    background-size: 2000px auto;
    background-position: 45% 0;
  }
  @media (max-width: $r_tab) {
    background-position: 50% 90%;
  }
  @media (max-width: $r_600) {
    background-position: 50% 0;
  }
  @media (max-width: $r_480) {
    background-position: 53% 85%;
  }
  @media (max-width: $r_320) {
    background-position: 50% 20%;
  }
}

.info {
  padding: 1rem 6rem;
  background-color: $blue;
  color: $white;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.3);

  &__block {
    margin: 0 auto;
    max-width: $r_desk_hd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }

  &__item {
    position: relative;
    font-weight: 300;
    line-height: 2rem;
    padding-left: 4rem;
  }

  &__item:before {
    display: block;
    position: absolute;
    left: 0;
    clear: both;
    content: "";
    width: 3rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: auto 1.6rem;
    background-position: center;
  }

  &__item1:before {
    background-image: url("../images/icon-w-time.png");
  }

  &__item2:before {
    background-image: url("../images/icon-w-email.png");
  }

  &__item3:before {
    background-image: url("../images/icon-w-phone.png");
  }

  @media (max-width: $r_tab) {
    &__block {
      justify-content: space-around;
    }
    &__item1 {
      display: none;
    }
  }
  @media (max-width: $r_480) {
    &__block {
      justify-content: flex-start;
    }
    &__item2 {
      display: none;
    }
  }
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem 0;
  @media (max-width: $r_480) {
    padding: 2rem 0 0 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  padding: 0 2rem;

  &__img {
    text-align: left;
    margin-right: 2rem;
    @media (max-width: $r_480) {
      img {
        display: none;
      }
    }
  }

  &__text {
    padding-left: 1rem;
    border-left: 1px solid $blue;
  }

  &__text1 {
    display: block;
    font-size: 1.8rem;
  }

  &__text2 {
    font-size: 1.2rem;
  }
}

@media (max-width: $r_480) {
  .logo {
    padding-left: 0;
  }
}

.nav {
  margin: 0;
  display: flex;
  list-style: none;
  padding-left: 0;

  &__item {
    text-transform: uppercase;
    padding: 0 2rem;
    border-right: 1px solid $blue;
    min-width: 10rem;
    text-align: center;

    &:last-child {
      margin-right: 0;
      border-right: none;
      padding-right: 0;
    }
  }

  &__link {
    color: $blue;
    position: relative;

    &:hover {
      color: $purple;
      transition: 3s;

      &:before {
        display: block;
      }
    }

    &:active {
      &:before {
        display: block;
      }
    }

    &:before {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      clear: both;
      content: "";
      width: 14rem;
      height: 4rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url("../images/activeNav.png");
    }
  }

}

.burger__wrap {
  margin: 0;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.burger {
  display: none;
  width: 4rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 2rem;

  &__item {
    display: block;
    width: 100%;
    height: 2px;
    margin-bottom: 10px;
    background-color: $blue;
    border-radius: 20px;
    transition: all .2s linear;
  }

}

@media (max-width: 1080px) {
  .nav {
    display: none;
  }
  .burger {
    display: block;
  }
}


.menu {
  display: none;
  position: absolute;
  background-color: rgba(51, 153, 153, 1);
  color: $white;
  font-weight: 300;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 0 0 0 .5rem;
  padding: 2rem;
  top: 4rem;
  right: 0;
  width: 320px;
  box-sizing: border-box;
  @media (max-width: $r_tab) {
    padding: 2rem;
  }

  &__label {
    display: flex;
    justify-content: flex-end;
  }

  &__close {

  }

  &__list_wrap {
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
    padding-bottom: 2rem;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    line-height: 3;
  }
}

.fake-check:checked + .menu {
  display: block;
}


.promo {
  margin: 0 auto;
  text-align: left;
  max-width: $r_desk_hd;

  &__title {
    margin: 10rem 0;
    padding: 0 4rem;
    font-size: 4.8rem;
    font-family: 'PT Serif', serif;
    color: $purple;
  }

  &__btns {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding-bottom: 4rem;
  }

  &__btn {
    border: 1px solid $green;
    font-size: 1.8rem;
    padding: 2rem 4rem;
    max-width: 250px;
    border-radius: .5rem;
    margin: 0 1rem;
    color: $purple;

    &:hover {
      transition: .5s linear;
      background-color: $green;
      color: $white;
    }
  }

  @media (max-width: $r_desk_hd) {

  }
  @media (max-width: $r_desk) {
    &__title {
      font-size: 4rem;
      margin: 5rem 0;
    }
    &__btn {
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }
  }
  @media (max-width: $r_tab) {
    &__title {
      font-size: 3rem;
    }
    &__btns {
      flex-direction: column;
      align-items: center;
    }
  }
  @media (max-width: $r_600) {
    &__title {
      margin: 4rem 0;
      padding: 0 2rem;
    }
  }
  @media (max-width: $r_480) {
    &__title {
      padding: 0 4rem;
    }
    &__btns {
      flex-direction: column;
      align-items: center;
    }
  }
  @media (max-width: $r_320) {
    &__title {
      font-size: 2.8rem;
      margin: 4rem 0;
      padding: 0 1rem;
    }
  }
}


// -- section company --

.company {
  position: relative;
  background-color: $white;

  &__main {
    padding: 10rem 0 10rem 0;
    max-width: 1240px;
    margin: 0 auto;
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 5rem;
    padding: 0 4rem;
    @media (max-width: $r_tab) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
    }
  }

  &__text {
    max-width: 400px;
    margin: 0;
    padding-left: 4rem;
    font-weight: 400;
    @media (max-width: $r_desk) {
      padding-left: 0;
    }
    @media (max-width: $r_tab) {
      max-width: 100%;
      margin-bottom: 0;
    }
  }

  &__text1 {
    margin-bottom: 2rem;
  }

  &__text2 {
    margin-bottom: 5rem;
  }

  &__employees {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: repeat(2, 140px);
    grid-gap: 2rem;
    padding-right: 10rem;
    @media (max-width: $r_desk) {
      padding-right: 0;
    }
    @media (max-width: $r_tab) {
      display: none;
      grid-template-columns: 600px;
      grid-template-rows: repeat(4, auto);
    }
  }

  &__employee {
    //display: flex;
    position: relative;
    border-radius: 0.5rem;
    background-color: lightgrey;
    //@media (max-width: $r_tab) {
    //  //width: 140px;
    //  //height: 140px;
    //}
    &:after {
      clear: both;
      content: "Подробнее";
      display: block;
      opacity: 0;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      box-sizing: border-box;
      padding: 1rem;
      border-radius: 0 0 0.5rem 0.5rem;
      background-color: $yellow;
      background-image: url("../images/icon-next-down.png");
      background-repeat: no-repeat;
      background-position: 90% 50%;
      color: $purple;
      transition: 0.8s;
    }

    &:hover {
      cursor: pointer;

      &:after {
        opacity: 1;
      }
    }
  }

  .employee__photo1 {
    background-image: url("../images/employee_1.jpg");
    background-repeat: no-repeat;
    background-size: 250px auto;
    background-position: 60% 35%;
  }

  .employee__photo2 {
    background-image: url("../images/employee_2.jpg");
    background-repeat: no-repeat;
    background-size: 600px auto;
    background-position: 65% 30%;
  }

  .employee__photo3 {
    background-image: url("../images/employee_3.jpg");
    background-repeat: no-repeat;
    background-size: 280px auto;
    background-position: 80% 30%;
  }

  .employee__photo4 {
    background-image: url("../images/employee_4.jpg");
    background-repeat: no-repeat;
    background-size: 650px auto;
    background-position: 15% 35%;
  }
}

.employee {
  display: flex;
  justify-content: center;
  color: $purple;
  font-weight: 300;
  padding: 0 4rem;
  flex-direction: column;

  &__wrap {
    width: 100%;
    border: $green 1px solid;
    border-radius: .5rem;
    padding: 4rem 4rem 0 4rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
    @media (max-width: $r_tab) {
      padding: 2rem 2rem 0 2rem;
    }
  }

  &__photo {
    position: relative;
    width: 240px;
    height: 280px;
    float: left;
    background-color: $white;
    border-radius: .5rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
    @media (max-width: $r_tab) {
      width: 140px;
      height: 140px;
      margin-right: 2rem;
    }
  }

  &__text {
    margin-bottom: 4rem;
    @media (max-width: $r_tab) {
      margin-bottom: 2rem;
    }
  }

  &__fullname {
    margin: 0;
    font-weight: 400;
  }
}

.hidden {
  display: none;
}

.expand {
  display: none;
  @media (max-width: $r_tab) {
    display: block;
    position: absolute;
    padding: 1rem;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: $yellow;
    background-image: url("../images/icon-next-down.png");
    background-repeat: no-repeat;
    background-position: 90% 50%;
    color: $purple;
    cursor: pointer;
  }
}

.dots {
  display: none;
  @media (max-width: $r_tab) {
    display: inline;
  }
}

.more {
  display: inline;
  @media (max-width: $r_tab) {
    display: none;
  }
}


// -- section services --

.services {
  position: relative;

  &__main {
    padding: 10rem 4rem 4rem;
  }

  &__grid {
    display: grid;
    grid-template-rows: repeat(4, 10rem);
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    position: relative;
    @media (max-width: $r_tab) {
      grid-gap: 2rem;
    }
    @media (max-width: $r_480) {
      grid-template-rows: repeat(8, 6.2rem);
      grid-template-columns: 1fr;
      grid-gap: 1rem;
    }
  }

  &__cell {
    display: flex;
    border: 1px solid $green;
    border-radius: .5rem;
    background-image: url("../images/icon-next-right.png");
    background-repeat: no-repeat;
    background-position: 90% 50%;
    transition: 0.8s;
    @media (max-width: $r_600) {
      background: none;
    }

    &:hover {
      background-position: 95% 50%;
    }

    &:active {
      border: none;
      background-color: rgba(51, 153, 153, 0.5);
    }
  }
}

.cell {
  position: relative;
  display: flex;
  padding: 2rem;
  flex-grow: 1;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  @media (max-width: $r_480) {
    padding: 0;
  }

  &__icon {
    position: absolute;
    display: inline-block;
    height: 6rem;
    width: 6rem;
    background-color: $yellow;
    border-radius: .5rem;
    background-repeat: no-repeat;
    background-size: 3.6rem auto;
    background-position: 50% 50%;
    transition: 0.8s;
    @media (max-width: $r_480) {
      border-radius: .5rem 0 0 .5rem;
    }
  }

  &__icon-1 {
    background-image: url("../images/icon-money.png");
  }

  &__icon-2 {
    background-image: url("../images/icon-protection.png");
  }

  &__icon-3 {
    background-image: url("../images/icon-job.png");
  }

  &__icon-4 {
    background-image: url("../images/icon-family.png");
  }

  &__icon-5 {
    background-image: url("../images/icon-home.png");
  }

  &__icon-6 {
    background-image: url("../images/icon-bag.png");
  }

  &__icon-7 {
    background-image: url("../images/icon-page.png");
  }

  &__icon-8 {
    background-image: url("../images/icon-question.png");
  }

  &__title {
    position: absolute;
    padding-left: 8rem;
    top: 50%;
    font-size: 1.8rem;
    font-weight: 400;
    color: $purple;
    transform: translate(0, -50%);
    @media (max-width: $r_480) {
      font-size: 1.4rem;
    }
  }

  &__text {
    display: none;
    position: absolute;
    background-color: rgba(51, 153, 153, 1);
    color: $white;
    font-weight: 300;
    border-radius: .5rem;
    padding: 4rem;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50rem;
    box-sizing: border-box;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
    z-index: 10;
    @media (max-width: $r_tab) {
      padding: 2rem;
    }

    &_title-wrap {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
    }

    &_title {
      padding: 2rem 2rem 2rem 8rem;
      color: $white;
      font-size: 1.8rem;
      font-weight: 400;
      background-repeat: no-repeat;
      background-size: 3.6rem auto;
      background-position: 0 50%;
      @media (max-width: $r_375) {
        font-size: 1.6rem;
      }
    }

    &_title-1 {
      background-image: url("../images/icon-w-money.png");
    }

    &_title-2 {
      background-image: url("../images/icon-w-protection.png");
    }

    &_title-3 {
      background-image: url("../images/icon-w-job.png");
    }

    &_title-4 {
      background-image: url("../images/icon-w-family.png");
    }

    &_title-5 {
      background-image: url("../images/icon-w-home.png");
    }

    &_title-6 {
      background-image: url("../images/icon-w-bag.png");
    }

    &_title-7 {
      background-image: url("../images/icon-w-page.png");
    }

    &_title-8 {
      background-image: url("../images/icon-w-question.png");
    }

    &_list {
      margin-bottom: 6rem;
    }

    &_item {
      margin: 0;
      list-style-type: none;
      list-style-position: inside;
      line-height: 2;
      @media (max-width: $r_tab) {
        padding-left: 2rem;
      }
      @media (max-width: $r_375) {
        padding-left: 0;
      }
    }

    &_li::before {
      padding-right: 10px;
      content: "—";
    }
  }

  &__btn-wrap {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 4rem;
    bottom: 4rem;
    @media (max-width: $r_tab) {
      right: 2rem;
      bottom: 2rem;
    }
  }

  &__btn {
    background-color: $yellow;
    text-transform: uppercase;
    padding: 15px 40px;
    color: $blue;
    border-radius: .5rem;
    font-weight: 400;

    &:hover {
      color: $purple;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
      cursor: pointer;
    }

    &:active {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
  }
}

.services__cell:hover .cell__icon {
  background-color: rgba(0, 0, 0, 0);
}

.fake-check {
  display: none;
}

.fake-check:checked + .cell__text {
  display: block;
}

.close {
  display: inline-block;
  width: 10rem;
  height: 6rem;
  float: right;
  background-image: url("../images/icon-close.png");
  background-repeat: no-repeat;
  background-size: 3.6rem auto;
  background-position: 100% 0;

  &:hover {
    cursor: pointer;
  }
}


// -- section feedback --

.feedback {
  //position: relative;
  //background-color: blueviolet;
  height: 50rem;

  &__main {
    padding: 10rem 4rem 4rem;
  }

  &__text_wrap {
    margin: 0 0 5rem 0;
    padding: 0 4rem;
  }

  &__text {
    padding-left: 4rem;
    font-weight: 400;
    margin-bottom: 5rem;
  }

  &__form {

  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 30px;
    grid-template-areas: "a e"
                         "b e"
                         "c e"
                         "d f"
                         "g g";

    &_cell {
      display: flex;
      align-items: center;
      background-color: cornflowerblue;

      &:nth-child(1) {
        grid-area: a;
      }

      &:nth-child(2) {
        grid-area: b;
      }

      &:nth-child(3) {
        grid-area: c;
      }

      &:nth-child(4) {
        grid-area: d;
      }

      &:nth-child(5) {
        grid-area: e;
      }

      &:nth-child(6) {
        grid-area: f;
      }

      &:nth-child(7) {
        grid-area: g;
      }
    }
  }
}

.item {
  background-color: darksalmon;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  &__reporter2 {
    padding-right: 14rem;
  }
}

.field {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #339999;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  width: 80%;
  box-sizing: border-box;
}

//.item {
//  position: relative;
//  flex-grow: 1;
//  display: flex;
//  align-items: center;
//}
//.fullname,
//.email,
//.phone {
//  display: inline-block;
//  width: 25%;
//}
//
//.field {
//  padding: 10px;
//  width: 75%;
//  border-radius: 5px;
//  border: 1px solid #339999;
//  font: inherit;
//  color: inherit;
//  background-color: transparent;
//  outline: none;
//  box-sizing: border-box;
//}
//
//.reporter-type {
//  width: 50%;
//  position: relative;
//  padding-top: 10px;
//  padding-bottom: 10px;
//}
//
//.radio {
//  display: none;
//}
//
//.fake {
//  position: absolute;
//  display: inline-block;
//  width: 16px;
//  height: 16px;
//  border: 1px solid #339999;
//  border-radius: 20px;
//  top: 50%;
//  transform: translate(0, -50%);
//  /*background-color: #ffff66;*/
//}
//
//.fake::before {
//  content: "";
//  position: absolute;
//  display: block;
//  width: 8px;
//  height: 8px;
//  background-color: #339999;
//  border-radius: 10px;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//  opacity: 0;
//}
//
//.radio:checked + .fake::before {
//  opacity: 1;
//}
//
//.radio-text {
//  /*background-color: burlywood;*/
//  position: absolute;
//  top: 50%;
//  transform: translate(0, -50%);
//  padding-left: 30px;
//}
//
//.item-message {
//  display: block;
//}
//
//.message {
//  /*background-color: burlywood;*/
//}
//
//.message-text {
//  display: inline-block;
//  padding-bottom: 20px;
//}
//
//.field-message {
//  /*background-color: indianred;*/
//  display: inline-block;
//  width: 100%;
//  min-height: 100px;
//  resize: none;
//}
//
//.consent {
//  width: 100%;
//  position: relative;
//}
//
//.check {
//  display: none;
//}
//
//.check-text {
//  position: absolute;
//  top: 50%;
//  transform: translate(0, -50%);
//  padding-left: 30px;
//}
//
//.fake-checkbox {
//  border-radius: 0;
//}
//
//.fake-checkbox::before {
//  border-radius: 0;
//}
//
//.check:checked + .fake-checkbox::before {
//  opacity: 1;
//}
//
//.item-btn {
//  display: flex;
//  justify-content: center;
//  padding-top: 30px;
//}
//
//.field-btn {
//  padding: 0;
//  margin: 0;
//  border: none;
//  font: inherit;
//  color: inherit;
//  background-color: transparent;
//  /*cursor: pointer;*/
//  outline: none;
//  &:hover {
//    color: $purple;
//    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
//    cursor: pointer;
//  }
//
//  &:active {
//    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
//  }
//}
//
//.btn2 {
//  display: inline;
//  background-color: #339999;
//  text-transform: uppercase;
//  padding: 15px 40px;
//  color: #2c485f;
//  border-radius: 5px;
//}
//
//.btn2:hover {
//  color: #f5f5f6;
//}

